.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 2rem;
}

button {
  padding: 0 1rem;
  background-color: var(--colors-ui-base);
  box-shadow: var(--shadow);
  line-height: 2.5;
  border-radius: var(--radii);

  border: none;
  display: flex;
  align-items: center;
  gap: 0.75rem;

  color: var(--color-text);
  cursor: pointer;
}

main {
  padding: 2rem 0;
}

section {
  width: 100%;
  padding: 2rem 0;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

@media screen and (min-width: 767px) {
  section {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 2.5rem 0;
  }
  main {
    padding: 4rem 0;
  }
}

@media screen and (min-width: 1024px) {
  section {
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
  }
}

/* @media (min-width: 767px) {
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;

  padding: 2.5rem 0;
}

@media (min-width: 1024px) {
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

@media (min-width: 767px) {
  padding: 4rem 0;
}  */
